html, body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', 'system-ui', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
}

.img {
  display: none;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.progress-text {
  color: #FAFAFA;
  font-size: 1em;
  animation: progressanim 2000ms ease-in-out infinite alternate;
}

@keyframes progressanim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
}

.footer-content {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  color: #AAA;
  font-size: 0.7em;
  font-weight: 400;
  text-align: center;
}

.footer-content a,
.footer-content a:active,
.footer-content a:visited {
  color: #AAA;
}