html, body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', 'system-ui', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
}

.img {
  display: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
}

.footer-content {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  color: #AAA;
  font-size: 0.7em;
  font-weight: 400;
  text-align: center;
}

.footer-content a,
.footer-content a:active,
.footer-content a:visited {
  color: #AAA;
}